<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Button Switch</title>
  <link rel="stylesheet" href="../css/carousel.css">
  <link rel="stylesheet" href="../../plugins/swiper.css">
</head>
<body>
  
<div class="default">
  <div class="title">
    <h1>基础拖动(滑动)切换</h1>
    <h1><a href="../../">返回首页</a></h1>
  </div>

  <!-- style css start -->
  <style>
    .swiper-container {
      width: 100%;
      height: 500px;
    }
  </style>
  <!-- style cee end -->
  <!-- swiper html start -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-color: orange;"></div>
      <div class="swiper-slide" style="background-color: purple;"></div>
      <div class="swiper-slide" style="background-color: brown;"></div>
      <div class="swiper-slide" style="background-color: red;"></div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <!-- swiper html end -->
</div>

<script src="../../plugins/swiper.js"></script>
<script>

  let swiper = new Swiper(".swiper-container", {
    // 添加左右箭头对象
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev"
    }
  });

</script>

</body>
</html>
